<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camping.dev.mapper.GoodsMapper">

    <select id="getSampleList" resultType="com.camping.dev.model.vo.GoodsSampleVO">
        <![CDATA[
        select id, category, name, price, reviews, image_url
        from GOODS_SAMPLE
        ]]>
    </select>

    <insert id="insertSampleData" parameterType="map">
        insert into GOODS_SAMPLE (category, name, price, reviews, image_Url)
        values (#{category}, #{name}, #{price}, #{reviews}, #{imageUrl})
    </insert>

    <select id="getCount" resultType="int">
        <![CDATA[
        select count(*)
        from GOODS_SAMPLE
        ]]>
    </select>

</mapper>
