<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camping.dev.mapper.GoodsMapper">

    <select id="getSampleList" resultType="com.camping.dev.model.vo.GoodsSampleVO">
        <![CDATA[
            SELECT id
                 , category
                 , name
                 , price
                 , reviews
                 , image_url
            FROM GOODS_SAMPLE
        ]]>
    </select>

    <insert id="insertSampleData" parameterType="map">
        INSERT INTO
            GOODS_SAMPLE
            (
                prd_id
              , category
              , name
              , price
              , reviews
              , image_Url
            )
            VALUES (
                #{prdId}
              , #{category}
              , #{name}
              , #{price}
              , #{reviews}
              , #{imageUrl}
            )
    </insert>

    <insert id="insertInitData" parameterType="map">
        INSERT INTO
            GOODS
            (
              prd_id_tmp
            , category
            , name
            , price
            , reviews
            , image_url
            )
            VALUES
            (
              #{prdId}
            , #{category}
            , #{name}
            , #{price}
            , #{reviews}
            , #{imageUrl}
            )
    </insert>

    <select id="getCount" parameterType="map" resultType="int">
        <![CDATA[
            SELECT count(*)
            FROM GOODS_SAMPLE
        ]]>
    </select>

    <!-- 상품 아이디로 상품 정보 찾기 -->
    <select id="getGoodsInfo" resultType="com.camping.dev.model.vo.GoodsInfoVO" parameterType="java.lang.Integer">
        SELECT name
             , image_url
             , price
             , reviews
          FROM GOODS
         WHERE id = #{id}
    </select>

</mapper>
