<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camping.dev.mapper.MemberMapper">

    <!-- 회원 가입 -->
    <insert id="insertMemberInfo" parameterType="com.camping.dev.model.entity.Member">
        INSERT INTO
            MEMBER
            (
              email
            , password
            , name
            , traded
            , grade
            )
            VALUES
            (
              #{email}
            , #{password}
            , #{name}
            , #{traded}
            , #{grade}
            )
    </insert>

    <!-- 이메일 중복 검사 -->
    <select id="searchByEmail" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE email = #{email}
    </select>

    <!-- 로그인(아이디, 패스워드 검색) -->
    <select id="loginByEmail" parameterType="String" resultType="com.camping.dev.model.vo.LoginCompareVO">
        SELECT
            email
          , password
          , name
         FROM MEMBER
        WHERE email = #{email}
    </select>

    <!-- 해쉬값 검색 -->
    <select id="searchHashedByEmail" parameterType="String" resultType="String">
        SELECT password
        FROM MEMBER
        WHERE email = #{email}
    </select>

    <!-- 비밀번호 수정 -->
    <update id="modifyPassword" parameterType="map">
        UPDATE MEMBER
           SET password = #{password}
         WHERE email = #{email}
    </update>

    <!-- 회원의 기존 거래 건수와 평점 검색 -->
    <select id="selectTradedAndGrade" parameterType="String" resultType="com.camping.dev.model.vo.CalculateUserGradeVO">
        SELECT TRADED, GRADE
          FROM MEMBER
         WHERE EMAIL = #{email}
    </select>

    <!-- 거래 건수 및 평점 갱신 -->
    <update id="updateTradedAndGrade" parameterType="map">
        UPDATE MEMBER
           SET TRADED = #{traded}
             , GRADE = #{grade}
         WHERE EMAIL = #{email}
    </update>

</mapper>
