<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camping.dev.mapper.RentalMapper">

    <!--
        대여 요청 코드
        "01" : 대여 요청 중
        "02" : 현재 대여중 (임대인이 수락)
        "03" : 반환 완료 (기간 다됐거나 임차인 쪽에서 반환)
        "04" : 대여 거절
    -->

    <!-- 상품 아이디로 대여 시작 날짜와 대여 종료 날짜 검색 -->
    <select id="getRentPeriod" parameterType="java.lang.Integer" resultType="com.camping.dev.model.vo.RentalPeriodVO">
        SELECT rental_start_date, rental_end_date
        FROM RENTAL
        WHERE prd_id = #{id} AND rent_status = "01"    <!-- status 정의코드 적어주기 메모-->
    </select>

    <!-- 상품 대여 요청 처리 -->
    <insert id="insertRentalRequest" parameterType="com.camping.dev.model.vo.RentalRequestVO">
        INSERT INTO
            RENTAL
            (
                prd_id
              , lender_email
              , borrower_email
              , rental_start_date
              , rental_end_date
              , rent_status
            )
            VALUES
            (
                #{id}
              , #{lenderEmail}
              , #{email}
              , #{rentalStartDate}
              , #{rentalEndDate}
              , '01'
            )
    </insert>

    <!-- 상품 대여 수락 -->
    <update id="updateRental" parameterType="com.camping.dev.model.vo.RentalAcceptVO">
        UPDATE
               RENTAL
           SET
               RENT_STATUS = "02"
         WHERE
               PRD_ID = #{id}
           AND LENDER_EMAIL = #{email}
           AND BORROWER_EMAIL = #{borrowerEmail}
           AND RENTAL_START_DATE = #{rentalStartDate}
           AND RENTAL_END_DATE = #{rentalEndDate}
    </update>


    <!-- 상품 대여 거절 -->
    <update id="rejectRental" parameterType="com.camping.dev.model.vo.RentalRejectVO">
        UPDATE
            RENTAL
        SET
            RENT_STATUS = "04"
        WHERE
            PRD_ID = #{id}
          AND LENDER_EMAIL = #{email}
          AND BORROWER_EMAIL = #{borrowerEmail}
          AND RENTAL_START_DATE = #{rentalStartDate}
          AND RENTAL_END_DATE = #{rentalEndDate}
    </update>


    <!-- 임차인의 대여 정보 정리 -->
    <select id="getRentInfo" parameterType="com.camping.dev.model.vo.EmailRequestVO"
                             resultType="com.camping.dev.model.vo.RentInfoVO">
    SELECT GD.ID
         , GD.NAME
         , GD.IMAGE_URL
         , GD.PRICE
         , RT.LENDER_EMAIL
         , RT.RENTAL_START_DATE
         , RT.RENTAL_END_DATE
         , RT.RENT_STATUS
      FROM RENTAL AS RT
      LEFT OUTER JOIN GOODS as GD
        ON GD.ID = RT.PRD_ID
     WHERE RT.BORROWER_EMAIL = #{email};
    </select>

    <!-- 임대인의 대여 정보 정리 -->
    <select id="getLendInfo" parameterType="com.camping.dev.model.vo.EmailRequestVO"
            resultType="com.camping.dev.model.vo.LendInfoVO">
        SELECT GD.ID
             , GD.NAME
             , GD.IMAGE_URL
             , GD.PRICE
             , RT.BORROWER_EMAIL
             , RT.RENTAL_START_DATE
             , RT.RENTAL_END_DATE
             , RT.RENT_STATUS
          FROM RENTAL AS RT
          LEFT OUTER JOIN GOODS as GD
           ON GD.ID = RT.PRD_ID
        WHERE RT.LENDER_EMAIL = #{email};
    </select>

</mapper>
